.heroSection {
  text-align: center;
}

.heroSection h1 {
  font-size: 22px;
  margin-bottom: 0;
}

.date {
  font-size: 15px;
  font-weight: 500;
  color: #666;
  margin-bottom: 0;
}

.quote {
  font-style: italic;
}