body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #222;
  font-size: 18px;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

section {
  padding: 20px 16px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.section-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
